@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: "Roboto", sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    padding: 10px 0;
    position: fixed;
    top: 0;
    height: 150px;
    width: 100%;
}

.logo img {
    height: 9rem;
}

nav ul.nav {
    list-style: none;
}

nav ul.nav li.nav-item {
    font-size: 18px;
}

nav ul.nav li.nav-item a.nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul.nav li.nav-item a.nav-link:hover {
    color: #d4d4d4;
}
